<h2>List of ratings</h2>


<ul>
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete, turbo_confirm: "Are you sure you want delete?"} %>
      <% end %>
    </li>
  <% end %>
</ul>


<%= link_to "New rating", new_rating_path %>